[package]
name = "utils"
version = "0.0.1"
authors = ["Abid Omar <contact@omarabid.com>"]
description = "Various utilities and functionalities"
edition = "2018"

[dependencies]
failure = "0.1.5"
config = "0.9"
lazy_static = "1.3"
slog = "2.4.1"
slog-syslog = "0.12.0"
slog-term = "2.4.1"
slog-scope = "4.2.0"
slog-async = "2.3.0"
serde = { version = "1.0", features = ["derive"]}

[dependencies.clap]
version = "2.33.0"
features = ["yaml"]
